@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding: 20px 0px;
    font-weight: bolder;
    font-size: 3em;
}

header p{
    padding-bottom: 30px;
}

header a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

main p {
    white-space: pre-line;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

main p.imagem1{
    background: url(../imagem/p-01.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    color: white;    
}

main p.imagem2{
    background: url(../imagem/p-02.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    color: white;
}

main p.imagem3{
    background: url(../imagem/p-03.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}